@using System.Security.Claims
@using Facilis.UsersManagement.SampleApp.Enums
@{
    var roles = this.Context.User.Identity?.IsAuthenticated == true ?
        this.Context.User.Claims
            .Where(claim => claim.Type == ClaimTypes.Role)
            .Select(claim => claim.Value)
            .ToArray() : Array.Empty<string>();
    var isAdmin = this.Context.User.Identity?.IsAuthenticated == true ?
        this.Context.User.IsInRole(nameof(RoleTypes.Administrator)) : false;
}

<div class="card p-2">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            Roles:
            @(string.Join(", ", roles)),
            Is Admin: @isAdmin
        </div>

        <a href="~/sign-out" class="btn btn-danger">
            Logout
        </a>
    </div>
</div>