@using Facilis.UsersManagement.Helpers
@using Facilis.UsersManagement.SampleApp.Enums
@{
    var roles = this.Context.User.GetRoles().Select(role => role.Value);
    var isAdmin = this.Context.User.IsInRole(RoleTypes.Administrator);
}

<div class="card p-2">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            Roles:
            @(string.Join(", ", roles)),
            Is Admin: @isAdmin
        </div>

        <a href="~/sign-out" class="btn btn-danger">
            Logout
        </a>
    </div>
</div>